html,
body {
    height: 100%;
    background: #f0f0f0;
    margin: 0;
    padding: 0;
}
header {
    padding: 1em 0;
    margin-bottom: 2.5em;
}
header h1 { font-size: 1.5em }
header h1 small:before {
    content: "|";
    margin: 0 0.5em;
    font-size: 1.6em;
}
header nav { margin-top: -3px }
footer {
    background: #101010;
    border: 0;
    margin-top: 0 !important;
    color: white;
    position: fixed;
    width: 100%;
    padding: 20px 0;
    top: 0, left:0;
    height: 65px;
}
footer * { line-height: inherit }
footer p { margin-top: 0 }
footer .ink-navigation ul.menu.horizontal li {
    margin-right: 2em;
    line-height: inherit;
}
footer .ink-navigation ul.menu.horizontal li a {
    padding: 0;
    color: white;
    text-decoration: underline;
}
footer p { color: white }
footer .ink-navigation ul.menu.horizontal li a:hover { color: #c91111 }
div + section { margin: 0 }
.clear-both {
    clear: both;
}

/* Info bar */

#image_chooser_wrap {
    display: inline-block;
    margin-right: 15px;
}
#display_loading { visibility: hidden }
#height_holder {
    display: inline-block;
    background: url('../img/mountain.png') no-repeat;
    background-position: left 0px top -6px;
    padding-left: 35px;
    width: 100px;
    padding-bottom: 1px;
}
#position_holder {
    background: url('../img/position.png') no-repeat;
    display: inline-block;
    padding-left: 22px;
    width: 180px;
}
#square_holder {
    background: url('../img/grid.png') no-repeat;
    display: inline-block;
    padding-left: 22px;
    width: 70px;
}

/* Canvas container */

#content {
    border-top: 3px solid #101010;
    width: 100%;
}
#container-wrapper {
    float:left;
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
}
#container {
    left:0px;
    top:0px;
    position:absolute;
}
.vertical-scroll, .horizontal-scroll {
    float:left;
    border-radius: 12px;
    border: 1px solid #555;
    background-color: #888;
    margin: 5px 0 0 5px;
    visibility: hidden;
}
.vertical-scroll {
    height: 290px;
}
.horizontal-scroll {
    width: 290px;
}
div.bar {
    background-color: #333;
    border-radius: 10px;
}
div.bar:hover {
    -webkit-box-shadow: 0px 0px 5px rgba(100, 100, 100, 1);
    -moz-box-shadow:    0px 0px 5px rgba(100, 100, 100, 1);
    box-shadow:         0px 0px 5px rgba(100, 100, 100, 1);
}
.vertical-scroll div.bar {
    width: 10px;
    height: 40px;
}
.horizontal-scroll div.bar {
    height: 10px;
    width: 40px;
}
