@import url(https://fonts.googleapis.com/css?family=Arvo:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Play:400,700,400italic);

/* MeyerWeb Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

html, body {height: 100%;}

#forLayout{style="width:100%; height: 100%;"}

#root {
  min-height: 100%;
  width:960px;
  margin: 0 auto 0 auto;
}

#footerMargin{
  padding-bottom: 90px;
}

.footerVSplitter{
  color: #444; font-size: 20px; padding: 0 20px;
}

footer:before {
  content: "\0020";
  display: block;
  position: absolute;
  width: 100%;
  height: 10px;
  box-shadow: #000 0 0 15px 5px;
  top: -10px
}

footer {
  background: url('../img/footer-bg.png');
  position: relative;
  margin-top: -70px;
  height: 70px;
  overflow: hidden;
  text-align: center;
  color: #777;
  text-shadow: 1px 1px 1px #000;
  line-height: 60px;
  font-family: 'Play', sans-serif;
}

/*Opera Fix*/
body:before {
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;
}

body {
  padding: 0;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #232323;
	background:	url('../img/chruch.png');
  margin: 0;
	line-height: 1.8em;
	-webkit-font-smoothing: antialiased;
}