.horus_btn{
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-transition: all 0.218s ease 0s;
    background-image: -moz-linear-gradient(center top , #FEFEFE 0pt, #E0E0E0 100%);
    border-color: #CCCCCC #CCCCCC #AAAAAA;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 1px #FFFFFF inset;
    color: #555555;
    font-size: 11px;
    font-weight: bold;
    height: 2.95em;
    text-shadow: 0 0 0 transparent, 0 1px 0 #FFFFFF;
    padding: 5px 15px;
    margin: 7px 10px;
    text-decoration: none;
}

.horus_btn:hover{
    box-shadow: 0 0 3px rgba(000,000,000,0.2);
    border-color: #AAAAAA;
    cursor: pointer;
}

.horus_btn a{
    color: inherit;
    text-decoration: inherit;
}

.a_simple{
    color: #555555;
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
    outline: none;
}

