body {
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #F0F5F0;
    background-image: url(../img/bg.png);
    background-repeat: repeat;
}

body, html { padding: 0px; margin : 0px; height: 100%; width: 100%; }

.super_wrapper{
    padding: 0;    
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-style: none;

    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -37px;
}

.wrapper {
    padding: 60px 0 55px 0;
}

.roof{   
    height: 40px;
    border-width: 0 0px 3px 0px;
    border-color: #F0F5F0;  
    width: 100%;
    border-style: solid;
    box-shadow: 0px 2px 7px rgba(000,000,000,0.4);
    background-image: url(../img/bg_green.png);
    position: fixed;
    top: 0;
    left: 0;
    z-index:99999;
    /*
    background: -moz-linear-gradient(
        top,        
        #5a755a,
        #37503a) ;
    */
}

.header{
    z-index: -1;
    height: 115px;
    position: relative;
    margin: 0 0 7px 0;
}

.header_bd{
    position: relative;
    height: 100%;
    width: 100%;
}

.content{  
    color: #000;     
    text-shadow: 1px 1px 1px #fff;
}

.content_bd{
    color: #555;
    text-shadow:
        1px 1px 0.01em #FFF;
}

.content_hd{    
    border: #AAA solid;
    border-width: 0 0 1px 0;
    margin: 3px 0 15px 0;
    padding: 0 15px 5px 15px;
}

content, .content_bd{
    z-index: -1;
    min-height: 200px;       
}

.bd_wrapper{
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;

    padding: 5px 18px 18px 18px;

    box-shadow:inset 1px 1px 4px #555;
    border-top: none;
    border-left: none;
    border-bottom: #FFF 1px solid;
    border-right:  #FFF 1px solid;
    background: rgba(180,180,180,0.1);
}

.content_bd{
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

    border-top: #FFF 1px solid;
    border-left: #FFF 1px solid;
    border-bottom: none;
    border-right:  none;

    box-shadow: 1px 1px 4px #555;
    background-image: url(../img/bg.png);
    padding: 5px;
}

.footer{ 
    clear: both;
    margin: 0px 0 -6px 0;
    border-width: 3px 0 0 0;
    height: 34px;
    border-color: #F0F5F0;    
    border-style: solid;
    box-shadow: 0px -2px 7px rgba(000,000,000,0.4);
    background-image: url(../img/bg_green_dark.png);
}

.footer_bd{
    color: #FFF;
    padding: 10px 0 2px 0;
    font-size: 12px;
    font-family: Arial;
    font-weight: bold;
    text-shadow: 1px 1px 0.01em #222;
    letter-spacing: 2px;
    text-align: center;     
    z-index: -1;
}

.footer_bd, .roof_bd, .header_bd, .bd_wrapper{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

IMG.t-error-icon {
    height: 16px;
    width: 16px;
}

INPUT.t-error, TEXTAREA.t-error, SELECT.t-error {
    border-bottom: #FFF 1px solid !important;
    border-right:  #FFF 1px solid !important;
    color: #333 !important;
    font-style: normal !important;
}

DIV.t-error{
    border: 1px solid #AA9999 !important;
    border-radius: 10px 10px 10px 10px !important;
    margin: 2px 15px 10px !important;
    padding: 0 !important;
}

DIV.t-error DIV {
    background-color: rgba(200, 0, 0, 0.07) !important;
    border-radius: 9px 9px 0 0 !important;
    color: #663333 !important;
    display: block !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding: 7px 25px 5px !important;
    text-shadow: 1px 1px 0.01em #FFEEEE !important;
}

DIV.t-error UL {
    background-color: rgba(200, 0, 0, 0.07);
    border-radius: 0 0 9px 9px;
    color: red;
    margin: 0;
    padding: 0 70px 3px;
}

DIV.t-error UL LI {
    color: #663333;
    margin: 0 0;
    padding: 2px 0;
    text-shadow: 1px 1px 0.01em #FFEEEE;
}

.centerer{
    display: table;
}

.centerer p{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.SUCCESS{
    background: url(../img/msgtype/success.png) no-repeat;
    color: #370;
}

.ERROR{
    background: url(../img/msgtype/error.png) no-repeat;
    color: #700;
}

.INFO{
    background: url(../img/msgtype/info.png) no-repeat;
    color: #007;
}

.WARNING{
    background: url(../img/msgtype/warning.png) no-repeat;
    color: #660;
}

.ERROR, .SUCCESS, .INFO, .WARNING{
    border: none;
    padding: 15px 10px 15px 55px;
}

.two_col_right{
    width: 45%;
    text-align: right;
    vertical-align: top;
    padding: 5px 0 0 0;
}
.two_col_center{
    padding: 3px;
}

.imgContainer{            
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;

    border: #BBB 1px solid;
    float: left;

    margin: 2px;
    overflow: hidden;
    z-index: 5;
}

.ui-widget-header {
    background: url("../img/jquery-ui/ui-bg_gloss-wave_35_f6a828_500x100.png") repeat-x scroll 50% 50% #F6A828 !important;
    border: 1px solid #888888 !important;
}

.ui-widget-content {
    border: 1px solid #AAAAAA;
}

.ui-dialog {
    -moz-box-shadow: 3px 3px 7px #666;
    -webkit-box-shadow: 3px 3px 7px #666;
    box-shadow: 3px 3px 7px #666;
}


.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {
    background-image: url("../img/jquery-ui/ui-icons_222222_256x240.png");
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus 
.ui-state-focus {
    background: #FFF !important;
    border: 1px solid #888 !important;
}

.clearer{
    clear: both;
}