ul.oe_menu{
    list-style:none;
    position:relative;
    margin:0px auto;
    width:795px;
    clear:both;    
}
ul.oe_menu > li{
    width:112px;
    height:40px;
    padding-bottom:2px;
    padding-top:0px;
    float:left;
    position:relative;
    vertical-align: middle;
}
ul.oe_menu > li > a{
    display:block;
    color: #fff;
    text-shadow: 1px 1px 0.01em #222;
    font: 12px Arial, Helvetica, sans-serif;
    text-decoration:none;
    font-weight:bold;
    letter-spacing: 1px;
    width:90px;
    height:20px;
    padding:12px 10px 10px 10px;
    text-align: center;
    vertical-align: middle;
    outline: none;
}
ul.oe_menu > li > a:hover,
ul.oe_menu > li.selected > a{
    background-image: url(../img/bg_mono.png);
    color:#333;
    text-shadow: none;
    opacity:1.0;
    border-width: 0;
    border-style: solid;
    border-color: #000;
    box-shadow: 0px 0px 15px rgba(000,000,000,0.3);
}

ul.oe_menu div{
    position:absolute;
    top:40px;
    background-image: url(../img/bg_mono.png);
    width:795px;
    min-height: 180px;
    padding:30px;
    display:none;
    -webkit-border-radius: 0px 0px 15px 15px;
    -moz-border-radius: 0px 0px 15px 15px;
    border-radius: 0px 0px 15px 15px;
    border-width: 0 3px 3px 3px;   
    border-color: #555;
    border-style: solid;
    box-shadow: 3px 5px 4px rgba(000,000,000,0.3);
}
ul.oe_menu div ul li a{
    text-decoration:none;
    color:#333;
    padding:3px 7px;
    margin:2px;
    display:block;
    font: 14px Arial, Helvetica, sans-serif;
    outline: none;
}
ul.oe_menu div ul.oe_full{
    width:90%;
}
ul.oe_menu div ul li a:hover{
    background:#555;
    color:#fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(000,000,000,0.3);
}
ul.oe_menu li ul{
    list-style:none;
    float:left;
    width: 150px;
    margin-right:10px;
}
li.oe_heading{
    color:#AAA;
    font-size:16px;
    margin-bottom:10px;
    padding-bottom:6px;
    border-bottom:1px solid #ddc;
}

