.focusField, .idleField:hover{
    background: rgba(180,180,180,0.4);
    color: #333;
    text-shadow: none;
}

.idleField{
    background: rgba(180,180,180,0.1);
    color: #333;
}

.focusField, .idleField{
    text-shadow: none;
    padding: 4px;

    outline:none;

    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    box-shadow:inset 1px 1px 3px #666;
    border-top: none;
    border-left: none;
    border-bottom: #FFF 1px solid;
    border-right:  #FFF 1px solid;
}