# http://www.gnu.org/software/automake

Makefile.in
*~
*.swp
bak
# http://www.gnu.org/software/autoconf
/build
/build-lin
/autom4te.cache
/aclocal.m4

/config/*
!/config/ChangeLog

/configure

/m4/*
!/m4/ChangeLog

/docs
